{
  "extends": ["airbnb-base", "prettier"],
  "root": true,
  "env": {
    "amd": true,
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true,
  },
  "globals": {
    "BigInt": "readonly",
    "BigInt64Array": "readonly",
    "BigUint64Array": "readonly",
    "globalThis": "readonly",
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
  },
}
